.orderTitle {
    margin-top: 64px;
}

.table {
    margin-top: 64px;
}

.badge {
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

.viewOrder {
    text-align: center;
    background-color: gray;
    padding: 4px 8px 4px 8px;
    color: white;
    cursor: pointer;
}

.OrderItemWrapper {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
}

.totalPrice p {
    font-weight: 700;
    font-size: 26px;
}